@model LoanManagementSystem.Models.LoanType

@{
    ViewData["Title"] = "Details";
}
<center>
<h1>Details</h1>
    </center>
<div>
    <h4>Loan Types</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanGivenTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanGivenTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfGuaranters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfGuaranters)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LoanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
