@model LoanManagementSystem.Models.ApplicationApproval

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApplicationApproval</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanApplication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanApplication.ApplicationHolderName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApprovalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
