
@model IEnumerable<LoanManagementSystem.Models.LoanApplication>

@{
    ViewData["Title"] = "Index1";
}

<h1>Applications</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoanApplicationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationHolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IfscCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanApplicationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationHolderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanType.LoanTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IfscCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanAmount)
                </td>

                <td>
                    <button asp-area="Loans" asp-controller="ApplicationApprovals" asp-action="Index">Approval</button> |
                    
                </td>
            </tr>
        }
    </tbody>
</table>
